@{
    ViewBag.Title = "Home Page";
}

<h2>
    Starting Page
</h2>
<link type="text/css" rel="stylesheet" href="../../Content/style3.css" />

@*User:
    @{
        if (User.Identity.IsAuthenticated)
        {
            <text>@User.Identity.Name</text>
            @Html.ActionLink("List of Tests", "Index", "Test")
        }
        else
        {
            <text>Not authenticated</text>
        }
    }*@
<div>
    @Html.ActionLink("Registration", "Register", "Account", "", new { @class = "actionlink" })
</div>

<div>
    @Html.ActionLink("Login", "Login", "Account", "", new { @class = "actionlink" })
</div>
