@using System.Threading
@{
    ViewBag.Title = "UserInfo";
}

<h2>UserInfo</h2>
<link type="text/css" rel="stylesheet" href="../../Content/style3.css" />
User:
@{
    if (!User.Identity.IsAuthenticated)
    {
        <text>Not authenticated</text>
    }
    else
    {
        <text>@User.Identity.Name</text>
        @Html.ActionLink("List of Tests", "Index", "Test", "", new { @class = "actionlink")
    }
}
@Html.ActionLink("Registration", "Register", "Account", "", new { @class = "actionlink")
@Html.ActionLink("Login", "Login", "Account", "", new { @class = "actionlink")